@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.menu {
  /* margin: auto; */
  justify-content: space-between;
  align-items: center;
  height: 80px;
  display: flex;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: white;
}

ul {
  display: flex;
  justify-content: space-around;
}

ul li {
  list-style-type: none;
  padding: 0 20px;
}

ul li a {
  text-decoration: none;
  color: #18a0fb;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button-white {
  background-color: white;
  width: 130px;
  height: 30px;
  border-radius: 6px;
  border: solid 2px #18a0fb;
  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 18px;
  color: #18a0fb;
}

.button-blue {
  background-color: #18a0fb;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  border: solid 2px #18a0fb;
  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 18px;
  color: white;
}

.main-image {
  background: url('/assets/images/nasa.jpg') no-repeat bottom center scroll;
  max-width: 1920px;
  width: 100%;
  height: calc(100vh - 80px);
  background-size: cover;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 80px);
  align-items: center;
}

.video i {
  color: #18a0fb;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 100%;
  margin-bottom: 50px;
}

.video p {
  font-size: 25px;
  text-shadow: 5px;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.video button {
  width: 192px;
  height: 42px;
}

.posts {
  margin-bottom: 80px;
}

.posts h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}

.posts h1:first-child {
  margin-top: 120px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  /* display: flex; */
  height: 250px;
  width: 580px;
  /* margin-right: 50px; */
  /* margin-bottom: 50px; */
  /* flex-direction: column; */
  flex-wrap: wrap;
}

/* .card:nth-child(odd) {
  margin-right: 100px;
} */

.card p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  /* or 167% */

  /* letter-spacing: -0.015em; */

  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
}

.card h4 {
  margin: 30px 0;
}

.card-page {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-page img {
  margin-right: 100px;
  width: 440px;
  height: 330px;
}

.card-page-cinza {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.bg-cinza {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-self: center;
  height: 600px;
  background-color: #f5f5f5;
}

.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
}

.company h1 {
  margin-bottom: 30px;
  margin-top: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: -0.015em;
}

.company p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 40px;

  text-align: center;
  letter-spacing: -0.015em;
}

.company-card-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.company-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 76px;
  width: 173px;
  margin-left: 84px;
  margin-bottom: 64px;
  background: #e5e5e5;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.cinza-pequeno {
  display: flex;
  height: 340px;
}

.texto {
  display: flex;
}

.dizeres {
  display: flex;
}

.button-join {
  height: 52px;
  width: 192px;
  margin-right: 30px;
}

.button-contact {
  height: 52px;
  width: 192px;
}

.dizeres p {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.015em;
  text-align: left;
}