@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.menu {
  /* margin: auto; */
  justify-content: space-between;
  align-items: center;
  height: 80px;
  display: flex;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: white;
}

ul {
  display: flex;
  justify-content: space-around;
}

ul li {
  list-style-type: none;
  padding: 0 20px;
}

ul li a {
  text-decoration: none;
  color: #18a0fb;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button-white {
  background-color: white;
  width: 130px;
  height: 30px;
  border-radius: 6px;
  border: solid 2px #18a0fb;
  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 18px;
  color: #18a0fb;
}

.button-blue {
  background-color: #18a0fb;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  border: solid 2px #18a0fb;
  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 18px;
  color: white;
}

.main-image {
  background: url('/assets/images/nasa.jpg') no-repeat bottom center scroll;
  max-width: 1920px;
  width: 100%;
  height: calc(100vh - 80px);
  background-size: cover;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 80px);
  align-items: center;
}

.video i {
  color: #18a0fb;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 100%;
  margin-bottom: 50px;
}

.video p {
  font-size: 25px;
  text-shadow: 5px;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.video button {
  width: 192px;
  height: 42px;
}

.posts h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}

.posts h1:first-child {
  margin-top: 120px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  /* display: flex; */
  height: 250px;
  width: 450px;
  /* margin-right: 50px; */
  /* margin-bottom: 50px; */
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.card:nth-child(odd) {
  margin-right: 100px;
}

.card p {
  margin: 20px 0;
}

.card h4 {
  margin-top: 30px;
}

.card-page {
  width: 1200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card-page img {
  margin-right: 100px;
  width: 440px;
  height: 330px;
}

.card-page-cinza {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin-right: 100px;
  width: 440px;
  height: 330px;
}

.card-page-cinza img {
  margin-right: 210px;
  width: 440px;
  height: 330px;
}

.card-page-cinza .card {
  margin-right: 100px;
}

.bg-cinza {
  width: 100%;
  height: 600px;
  background-color: #f5f5f5;
}
